input
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea  {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: .75rem;
  color: lighten(#333, 20);
  width: 100%;
  &:focus {
    outline: 0;
    border: 1px solid darken(#333, 30);
  }
  &::placeholder {
    color: #ccc;
  }
}

input[type="password"],
input[type="password"]::placeholder {
  letter-spacing: 2px;
}

label {
  font-size: .9rem;
  font-weight: 500;
}