@import '../../style/settings/vars';

.searchform {
  composes: w-100 db mv4 ph4 from $_tachyons;
}

.input {
  composes: db w-100 ph3 h3 mr3 bn br3 from $_tachyons;
}

.button {
  composes: white h3 pv1 ph4 ma0 bn br3 from $_tachyons;
  background-color: $red;
}