@import '../../style/settings/vars';

.wrapper {
  composes: tc from $_tachyons;
}

.logo {
  animation: HomePage-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: $red;
}

@keyframes HomePage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
